<ng-container *ngIf="product">
    <nz-card nzHoverable [nzCover]="coverTemplate" [nzLoading]="!product">
        <nz-card-meta [nzTitle]="product.nombre"></nz-card-meta>
        <div class="price_section">
            <nz-statistic [nzValue]="((product.sku %1000) | number: '1.0-2')!" [nzTitle]="'Precio'" [nzPrefix]="'$'"
                [nzValueStyle]="{ fontSize: '1rem' }">
            </nz-statistic>
            <nz-badge [nzCount]="(quantity$ | async)!">
                <button nz-button nzType="default" nzShape="round" (click)="handleAddProduct(product)">Agregar</button>
            </nz-badge>
        </div>
        <ng-template #coverTemplate>
            <img [alt]="product.nombre" style="border-radius: 10%; cursor: pointer;" nz-button
                (click)="handleDetail(product)" [src]="'https://www.freetogame.com/g/'+product.id+'/thumbnail.jpg'" />
        </ng-template>
    </nz-card>
</ng-container>