nz-layout {
  height: 90vh;
  align-items: center;
  justify-content: center;
}

nz-content {
  align-items: center;
  justify-content: center;
  display: flex;
}

.register-form {
  cursor: default;
  h2:first-child {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
  }
}
