<nz-card nzTitle="Tu Orden">
    <div class="order_description">
        <h4 nz-typography>Subtotal</h4>
        <nz-statistic [nzValue]="(cartSummary?.subtotal | number)!" [nzPrefix]="'$'"></nz-statistic>
    </div>
    <div class="order_description">
        <h4 nz-typography>Descuentos</h4>
        <nz-statistic [nzValue]="(cartSummary?.discount | number)!" [nzPrefix]="'$'"></nz-statistic>
    </div>
    <div class="order_description">
        <h4 nz-typography>Envío</h4>
        <nz-statistic [nzValue]="(cartSummary?.delivery | number)!" [nzPrefix]="'$'"></nz-statistic>
    </div>
    <nz-divider></nz-divider>
    <div class="order_description">
        <h3 nz-typography>Total</h3>
        <nz-statistic [nzValue]="(cartSummary?.total | number)!" [nzPrefix]="'$'" [nzValueStyle]="{color: '#47a359'}">
        </nz-statistic>
    </div>
    <nz-divider></nz-divider>
    <button nz-button nzType="primary" nzBlock [nzLoading]="isSaving" (click)="handleFinish()"
        [disabled]="cartSummary?.total == 0 || isSaving">Finalizar</button>
</nz-card>