<nz-page-header nzBackIcon nzTitle="Mi Carrito"></nz-page-header>
<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Acceso" [nzDescription]="(user$ | async)?.email"></nz-step>
    <nz-step nzTitle="Confirmar">
    </nz-step>
    <nz-step nzTitle="Pagar"></nz-step>
</nz-steps>
<div class="steps-content">
    <div nz-row *ngIf="current === 1">
        <div nz-col nzFlex="3" class="ph-1">
            <app-cart-list [products]="(products$ | async)!" (onChangeQty)="onChangeQuantity($event)"
                (remove)="handleRemoveProduct($event)"></app-cart-list>
        </div>
        <div nz-col nzFlex="1" class="ph-1">
            <app-cart-summary [cartSummary]="cartSummary" [isSaving]="isSaving" (finish)="handleFinish()">
            </app-cart-summary>
        </div>
    </div>
    <div *ngIf="current == 2" class="payment">
        <app-payment [summary]="cartSummary" [isSaving]="isSaving" [cart]="cart" [user]="user$ | async"
            (onBack)="handleBack()" (onPay)="handlePay()"></app-payment>
    </div>
    <div *ngIf="current == 3" class="payment">
        <nz-card>
            <nz-result nzStatus="success" nzTitle="Orden completada!" nzSubTitle="Gracias por tu compra">
                <div nz-result-extra>
                    <a nz-button [routerLink]="['/welcome']">Continuar</a>
                </div>
            </nz-result>
        </nz-card>
    </div>
</div>