.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
}

.ph-1 {
  padding: 0 1%;
}

.payment {
  max-width: 520px;
  margin: 0 auto;
  nz-card {
    margin: 4% 0;
  }
}
